*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 10px;
    padding: 15px 50px;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.links {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    display: flex;
    gap: 30px;
}

.links a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
}

.nav-container ul {
    list-style-type: none;
}

.links a:hover {
    color: #4d9266;
}

.btn {
    background-color: #4d9266;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    border-radius: 6px;
    border: none;
}

.btn:hover {
    background-color: lightgreen;
    cursor: pointer;
}


