*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 10px;
    padding: 15px 50px;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.links {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    display: flex;
    gap: 30px;
}

.links a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
}

.nav-container ul {
    list-style-type: none;
}

.links a:hover {
    color: #4d9266;
}

.btn {
    background-color: #4d9266;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    border-radius: 6px;
    border: none;
}

.btn:hover {
    background-color: lightgreen;
    cursor: pointer;
}

.new-button {
    background-color: transparent;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    border-radius: 6px;
    border: 1px solid white;
}

.new-button:hover {
    background-color: white;
    color: #6e584e7e;
    cursor: pointer;
}
.new-button a{
    text-decoration: none;
    color: rgba(141, 87, 66, 0.678);
}

.btn a{
    text-decoration: none;
    color: white;
}

.hero-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    height: 674px;
    width: 100%;
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.content-container {
    position: relative;
    max-width: 800px;
    padding: 20px;
}

.badge {
    display: inline-flex;
    align-items: center;
    background-color: white;
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 14px;
    color: #4ade80;
    margin-bottom: 16px;
}

.badge:hover{
    box-shadow: 0 0 12px #4ade80;
    cursor: pointer;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: #4ade80;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    box-shadow: 0 0 8px #4ade80;
}

.advice {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
}

.colour-change {
    color: #4d9266;
}

.description {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 1.6;
    color: #cbd5e1;
}